@import './src/styles/_variables.scss';
@font-face {
  font-family: 'BebasNeue';
  src: url('/font/BebasNeue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html, body {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family:'Courier New', 'BebasNeue', Courier;
  font-size: 16px;
  scroll-behavior: smooth;
  // max-width: 1440px;
  margin-inline: auto;
  transition: all;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.preload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.custom-button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid --color6;
  color: palevioletred;
  margin: 0 1em;
  padding: 0.25em 1em;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.btn {
  margin: 0 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
  border: 2px solid --color6;
  color: palevioletred;
  background: transparent;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-container {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
}


textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
@media (prefers-reduced-motion: reduce) {
  html, body {
    scroll-behavior: auto;
  }
}
