body {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
    margin-inline: 0;
    z-index: 999;
    menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
        > * {
          --spacing: 0;
        }
        button {
          background: transparent;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 1px;
          margin-top: 5px;
          padding: 0;
          text-transform: uppercase;
          &:hover {
            color: #ccc;
          }
        }
      }

    }
    // .logo {
    //   font-size: 1.5rem;
    //   font-weight: 700;
    //   text-transform: uppercase;
    //   letter-spacing: 2px;
    // }
    // .nav-links {
    //   display: flex;
    //   justify-content: space-between;
    //   width: 30%;
    //   .link {
    //     text-decoration: none;
    //     color: #fff;
    //     font-weight: 500;
    //     letter-spacing: 1px;
    //     &:hover {
    //       color: #ccc;
    //     }
    //   }
    // }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    top: 50%;
    transform: translateX(30%);
    .input-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      label {
        margin-bottom: 5px;
      }
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.preload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.custom-button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid palevioletred;
  color: palevioletred;
  margin: 0 1em;
  padding: 0.25em 1em;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  padding-inline: 20px;
}

.btn {
  margin: 0 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
  border: 2px solid palevioletred;
  color: palevioletred;
  background: transparent;
}

#footer-container {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.movie-content {
  .title {

  }
  .img {

  }
  .title_type {

  }
  .netflix_id {

  }
  .synopsis {

  }
  .rating {

  }
  .year {

  }
  .runtime {

  }
  .imdb_id {

  }
  .poster {

  }
  .top250 {

  }
  .title_date {

  }
}