@import '../styles/_variables.scss';

.auth-top-container {
  max-width: 600px;
  min-width: 320px;
  width: 70dvw;
  margin-inline: auto;
  &:nth-child(1) {
    margin-bottom: 1rem;
    max-width: 600px;
    min-width: 320px;
    width: 70dvw;
    margin-inline: auto;
    margin-block: 0;
    &:not(form) > .supabase-auth-ui_ui-container {
      &:first-child {
        display: flex;
        flex-direction: row;
        div, input {
          width: 100%;
          color: var(--primary);
        }
        button {
          width: 33%;
        }
      }
    }
  }
}
form {
  max-width: 600px;
  min-width: 320px;
  width: 70dvw;
  margin-inline: auto;
  .auth-button {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: var(--primary, 0.8);
    border: none;
    color: var(--primary-inverse);
    &:hover {
      background-color: var(--primary-hover);
    }
    &:focus {
      background-color: var(--primary-focus);
    }
  }
  .auth-message {
    font-weight: 600;
    color: (var(--primary));
    text-align: center;
  }
  .auth-anchor {
    font-weight: 600;
    color: (var(--primary));
    text-align: center;
    margin-inline: auto;
    &:hover {
      color: var(--primary-hover);
    }
  }
}
.auth-divider {
  display: none !important;
}