@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .wrapper {
    @include flexbox();
  }
  
  .item {
    @include flex(1 200px);
    @include order(2);
  }
  
:root {
  --alpha: 1;
  --color1: 334, 85%, 52% ;//#EC1B75;|#4D03A9 |#F58DBA  
  --color2: 334, 84%, 60% ;//#EF418C;|#6407A1 |#F267A3 
  --color3: 334, 84%, 68%;//#F267A3;|#7A0A9A |#EF418C
  --color4: 334, 84%, 76%;//#F58DBA;|#910E93 |#EC1B75
  --color5: 334, 83%, 84%;//#F8B2D0;|#A8118B |#CA1680
  --color6: 334, 81%, 92%;//#FBD8E7;|#BF1484 |#A8118B
  --color7: 0, 0%, 100%;//#FEFEFE;|#D5187C |#860C96
}

/* Pink Light scheme (Default) */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(var(--color1));
  --primary-hover: hsl(var(--color2));
  --primary-focus: hsl(var(--color3));
  --primary-inverse: hsl(var(--color7));
}

/* Pink Dark scheme (Auto) */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: hsl(var(--color4));
    --primary-hover: hsl(var(--color5));
    --primary-focus: hsl(var(--color6));
    --primary-inverse: hsl(var(--color7));
  }
}

/* Pink Dark scheme (Forced) */
[data-theme="dark"] {
  --primary: hsl(var(--color4));
  --primary-hover: hsl(var(--color5));
  --primary-focus: hsl(var(--color6));
  --primary-inverse: hsl(var(--color7));
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: hsl(var(--primary));
  --form-element-focus-color: hsl(var(--primary-focus));
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: hsl(var(--primary));
}